// bootstrap 全局字号
$font-size-base: .875rem;

// bootstrap-vue collapse 动画时间
$transition-collapse: height .15s ease;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
    background-color: #f8f9fa!important;
}
